table {
	border-collapse: collapse;
	text-align: center;
}

th, td {
	border-style: solid;
	border-width: 1px;
	border-color: yellow;
	padding: 3px;
	color: yellow;
}

body{
	text-align: center;
	color: yellow;
	background-color: green;
}
